
    <div class="row">
            <div class="col-md-12 col-xs-12">
         <button class="btn btn-primary" routerLink="new">New Recipie</button>
    </div> 
</div>
    <br>
    <div class="row">
            <div class="col-md-12 col-xs-12">
            <app-recipie-item *ngFor="let recipie of recipies; let i=index" 
                                [recipeItem]="recipie" 
                                [index]=i
                                >
                            </app-recipie-item>        
            </div>
    </div> 



<!-- <app-recipie-item></app-recipie-item> -->